* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 0 gray; 
}

h1{
    color: #292929;
    margin: 0 0 0 130px
    
}

li, button{
    font-weight: 500;
    font-size: 16px; 
    color: #292929;
    text-decoration: none;
}


.navLinks{
    list-style: none;
    padding: 0 130px 0 0;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.todos{
    border: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
}
.todos:hover{
    color: #4C6EF5;
    text-decoration: underline;
}
.acessorios{
    border: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
}
.acessorios:hover{
    color: #4C6EF5;
    text-decoration: underline;
}
.calcados{
    border: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
}
.calcados:hover{
    color: #4C6EF5;
    text-decoration: underline;
}
.camisetas{
    border: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
}
.camisetas:hover{
    color: #4C6EF5;
    text-decoration: underline;
}

/*----------------------------------------------------*/

body{
    display: flex;
    flex-direction: column;
}

.container{
   display: flex;
   justify-content: space-between;

}

.listaProdutos{
    max-width: 1160px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 14px; 
    list-style: none;
    margin: 20px 20px 20px 20px;
}

.semProdutos{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 400px ;
}

.produto{
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 380px;
    background: white;
    box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
    
    
}

.produto:hover{
    border: solid;
    border-color: #2E245E;
    
}

.imagemProduto{
   margin: auto;
}

.especificacao{
    padding: 20px 15px; 
}

.tipoProduto{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2E245E;
    color: white;
    width: 88px;
    height: 24px;
}

.nomeProduto{
    font-size: 18px;
    width: 100%;
    margin: 10px 0 ;
    font-weight: bold;
}

.produtoDescricao{
    font-size: 14px;
}

.produtoPreco{
    font-size: 14px;
    width: 100%;
    margin: 10px 0 10px 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.adicionar{
    transition: all 0.3s ease 0s;
    background: white;
    border: none;
    font-size: 14px;
}

.adicionar:hover{
    color: #4C6EF5;
    text-decoration: underline;
}

.pesquisaCarrinho{
    margin: 20px 50px 0 0;
}

.barraPesquisa{
    display: flex;
    justify-content: space-around;
    
}

.Digite{
    border: none;
    height: 52px;
    width: 235px;
    padding: 10px;
    background: #F5F5F5;
}

.btnPesquisar{
    height: 52px;
    margin: 0 30px 0 10px;
    cursor: pointer;
    border: solid 1px #fff;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 500;
    background: #2E245E;
    color: white;
}

.btnPesquisar:hover{
    color: #4C6EF5;
}  

.carrinhoDeCompras{
    font-family: 'Inter', sans-serif;
}

.carrinho{
    margin: 30px 30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2E245E;
    color: white;
    width: 347px;
    height: 50px;
    font-weight: 700px;
}

.produtosAdicionados{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #F5F5F5;
    width: 347px;
    height: 200px;
    overflow-y: scroll;
    
}

.mensagem{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
        
}

.carrinhoVazio{
    font-size: 22px;
}

.adicioneItens{
    font-size: 14px;
}

.produtosCarrinho{
    display: flex;
    text-align: center;
}

.fotoNoCarrinho{
    width: 88px;
    height: 67px; 
}

.nomeCarrinho{
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.precoCarrinho{
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.produtosAdicionados div div {
    display: flex;
    flex-direction: column;
}

.remover{
    transition: all 0.3s ease 0s;
    background: #F5F5F5;
    border: none;
    font-size: 14px;
    width: 115px;
    height: 24px; 
}

.remover:hover{
    color: #4C6EF5;
    text-decoration: underline;
}
/* .empty{
    font-size: 22px;
    font-weight: bold;
}

.adicione{
    font-size: 14px;
} */


.quantidade{
    margin: 0px 30px 0px 0px;
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: #292929;
    color: white;
    justify-content: space-between;
    width: 347px;
    height: 50px;
}

.total{
    margin: 0px 30px 30px 0px;
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: #292929;
    color: white;
    justify-content: space-between;
    width: 347px;
    height: 50px;

}






